@media (max-width: 980px) {

    .container {
        padding: 0 32px;
    }

    .header__nav {
        display: none;
    }

    .header__burger-btn {
        display: block;
    }

    .header__logo {
        margin: 0 auto;
    }

    .hero__container {
        margin-top: 64px;
    }

    .header__container {
        padding: 18px 32px;
        display: flex;
        justify-content: start;
    }

    .hero__title {
        font-size: 72px;
        line-height: 88px;
    }

    .hero__list {
        gap: 24px;
        margin-top: 96px;
    }

    .collections__cards {
        margin-top: 48px;
    }

    .collections__container {
        margin-top: 96px;
    }

    .collections__card-title {
        font-size: 24px;
        line-height: 32px;
    }

    .collection__card-description {
        font-size: 14px;
        line-height: 20px;
    }

    .collections__cards-row:not(:first-child) {
        margin-top: 48px;
    }

    .collections__cards-row {
        gap: 24px;
    }

    .provide__card {
        width: calc((100% / 2) - 12px);
    }

    .provide__cards {
        gap: 24px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .team__container {
        margin-top: 100px;
    }


    .footer__logo {
        width: auto;
    }

    .footer__nav {
        display: none;
    }

    .footer__nav-pad {
        display: block;
    }

    .footer__nav-list {
        width: auto;
    }

    .footer__container {
        margin-top: 138px;
    }

    .sell__title {
        font-size: 36px;
        line-height: 48px;
    }

    .sell__sub-title {
        font-size: 12px;
        line-height: 18px;
    }

    .button {
        padding: 12px 14px;
    }

    .sell__button {

        margin-top: 24px;
    }

    .sell__wrapper {
        padding: 32px 0;
    }

    .sell__container {
        margin-top: 82px;
    }
}

@media (max-width: 600px) {

    .container {
        padding: 0 16px;
    }

    .header__container {
        padding: 16px;
    }

    .hero__title {
        font-size: 36px;
        line-height: 56px;
    }

    .hero__text {
        font-size: 16px;
        line-height: 24px;
    }

    .hero__list {
        gap: 16px;
        margin-top: 80px;
    }

    .collections__container {
        margin-top: 80px;
    }

    .collections__cards {
        margin-top: 32px;
    }

    .collections__cards-row {
        justify-content: center;
        flex-wrap: wrap;
    }

    .title {
        font-size: 36px;
        line-height: 48px;
    }

    .sub-title {
        font-size: 14px;
        line-height: 20px;
        margin-top: 8px;
    }

    .collections__card-description {
        font-size: 12px;
        line-height: 18px;
        margin-top: 8px;
    }

    .show-more {
        display: inline-block;
        margin-top: 32px;
    }

    .collections__cards-row:nth-child(n+2) {
        display: none;
    }

    .collections__cards-row.is-visible {
        display: flex;
        margin-top: 24px;
    }


    .collections__card {
        width: 100%;

        &:hover {
            transform: none;
        }

        &:active {
            transform: none;
        }
    }

    .team__cards {
        flex-wrap: wrap;
        gap: 24px;
        margin-top: 24px;
    }

    .team__card {
        width: calc((100% / 2) - 12px);
    }

    .team__name {
        font-size: 20px;
        margin-top: 8px;
        line-height: 26px;
    }

    .team__post {
        margin-top: 8px;
    }

    .team__sub-title {
        margin-top: 8px;
        line-height: 26px;
    }

    .provide__container {
        margin-top: 96px;
    }

    .provide__title {
        font-size: 36px;
        line-height: 48px;
    }

    .provide__sub-title {
        font-size: 14px;
        line-height: 20px;
    }

    .provide__card {
        width: 100%;
    }

    .provide__cards {
        margin-top: 32px;
    }

    .provide__card-title {
        margin-top: 8px;
        font-size: 20px;
        line-height: 26px;
    }

    .provide__description {
        margin-top: 8px;
        font-size: 12px;
        line-height: 18px;
    }

    .footer__nav-list {
        align-items: center;
        flex-direction: column;
        margin-top: 32px;
    }

    .footer__top {
        flex-direction: column;
        border: none;
        padding: 0;
        padding-bottom: 32px;
        border-bottom: 1px solid #CCD5DF;
    }

    .footer__container {
        margin-top: 63px;
    }

    .sell__decoration {
        display: none;
    }

    .sell__container {
        margin-top: 48px;
    }

    .sell__wrapper {
        padding: 24px 16px;
    }

    .button {
        padding: 12px 14px;
    }

    .sell__button {
        margin-top: 16px;
    }

    .sell__sub-title {
        margin-top: 8px;
    }
}